<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CMC - Academic</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/logo/cmc_logo.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Template Main CSS File -->
    <link href="/css/mainstyle.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/testimonial.css">
    <link rel="stylesheet" href="/css/strip_carousel.css">
    <link rel="stylesheet" href="/css/faculty.css">
    <!--For About Page inlcude-->
    <link rel="stylesheet" href="/css/team.css">
    <!--For Signup page include-->
    <link rel="stylesheet" href="/css/signup.css">

</head>

<body>

  <!--HEADER ABOVE BAR SECTION-->
    
  <!--HEADER MAIN-->
  <%- include('partial/header'); %>
  <!-- End Header -->
   

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Academic</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Academic</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="academic" class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li class="tab active"><a href="#infrastructure" class="academic-a">Infrastructure</a></li>
              <li class="tab"><a href="#rules" class="academic-a">Rules & Regulations</a></li>
              <li class="tab"><a href="#faq" class="academic-a">FAQ</a></li>
              <li class="tab"><a href="#news" class="academic-a">News and Events</a></li>
            </ul>
          </div>
        </div>

        <div class="row tab-content academ">
            <div class="tabb" id="infrastructure">
              <div class="container">
                <div class="row">
                  <div class="row">
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Boat Drill"
                                 data-image="/img/infrastructure/boat-drill-1.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/boat-drill-1.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Boat Drill"
                                 data-image="/img/infrastructure/boat-drill.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/boat-drill.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
              
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Fire Fighting"
                                 data-image="/img/infrastructure/fire-fighting-0.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/fire-fighting-0.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Fire Fighting"
                                 data-image="/img/infrastructure/fire-fighting-1.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/fire-fighting-1.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Fire Fighting"
                                 data-image="/img/infrastructure/fire-fighting-3.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/fire-fighting-3.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
              
              
              
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Facility"
                                 data-image="/img/infrastructure/high-voltage-0.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/high-voltage-0.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Facility"
                                 data-image="/img/infrastructure/high-voltage-1.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/high-voltage-1.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Facility"
                                 data-image="/img/infrastructure/high-voltage-2.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/high-voltage-2.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
              
              
              
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Swimming Pool"
                                 data-image="/img/infrastructure/swimming-pool-0.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/swimming-pool-0.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Swimming Pool"
                                 data-image="/img/infrastructure/swimming-pool-2.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/swimming-pool-2.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
                          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Swimming Pool"
                                 data-image="/img/infrastructure/swimming-pool.jpg"
                                 data-target="#image-gallery">
                                  <img class="img-thumbnail"
                                       src="/img/infrastructure/swimming-pool.jpg"
                                       alt="Another alt text">
                              </a>
                          </div>
                      </div>
              
              
                      <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h4 class="modal-title" id="image-gallery-title"></h4>
                                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                                      </button>
              
                                      <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
              </div>
            </div>                 
            
            <div class="tabb" id="rules">
                <h2>Rules & Regulations</h2>
                <ul class="list-unstyled">
                    <li><i class="fas fa-angle-right mr-3"></i>Be punctual. Late coming may delay issuing of course certificates at the end of the course.</li>
                    <li><i class="fas fa-angle-right mr-3"></i>Attend all days of the course. Lack of attendance will lead to withholding of certificate, till such time as absent-days are completed in the next course.</li>
                    <li><i class="fas fa-angle-right mr-3"></i>Wear shoes. Sandals, Flip-flops, Floaters and slippers are not for Mariners such as us.</li>
                    <li><i class="fas fa-angle-right mr-3"></i>Wear collared shirts / t-shirts. Collarless attire is suitable for jogging or the gym.</li>
                    <li><i class="fas fa-angle-right mr-3"></i>Candidates attending practical courses such as PSCRB, PST, AFF, Basic FPFF, or their Refreshers, please bring a towel and a change of innerwear to replace your wet clothes.</li>
                    <li><i class="fas fa-angle-right mr-3"></i>Submit a photocopy of a medical fitness certificate that is current/valid and issued by a D.G Approved Medical Examiner.</li>
                    <li><i class="fas fa-angle-right mr-3"></i>Carry a valid Photographic i.d on your person at all times, for the refresher courses. Photo i.d may be ANY OF THE FOLLOWING: Passport, CDC, Driving License, Voter I.D, Aadhaar Card or Pan Card (new version with photo).</li>
                    <li><i class="fas fa-angle-right mr-3"></i>Candidates are requested to take care of their personal belongings at all times. The Academy prides itself for being a safe and secure environment, but responsibility for any personal items belongs with the students at all times.</li>
                </ul>
            </div>
            <div class="tabb w-100" id="faq">
                <h2>Frequently Asked Questions</h2>
                <div class="accordion mt-4" id="faq">
                  <div class="card">
                      <div class="card-header" id="faqhead1">
                        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1"
                          aria-expanded="true" aria-controls="faq1">
                          1. Holding New Zealand COC, is the student is eligible to undergo ECDIS Course?
                        </a>
                      </div>

                      <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                          <div class="card-body">
                            Yes. He can do the ECDIS course.
                          </div>
                      </div>
                  </div>
                  <!--2-->
                  <div class="card">
                      <div class="card-header" id="faqhead2">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="faq2">
                            2. Can a student attend PSF course with Belize CDC and Belize STCW certificates?
                        </a>
                      </div>

                      <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                          <div class="card-body">
                            No, a student cannot attend the course with Belize certificates.
                          </div>
                      </div>
                  </div>
                  <!--3-->
                  <div class="card">
                      <div class="card-header" id="faqhead3">
                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3" aria-expanded="true" aria-controls="faq3">
                        3. With Librarian CDC is a student eligible to undergo ROC/ARPA if he has 24 months Sea service + Advance course?
                        </a>
                      </div>

                      <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                          <div class="card-body">
                            He can do ROC/ARPA Course.
                          </div>
                      </div>
                  </div>
                  <!--4-->
                  <div class="card">
                      <div class="card-header" id="faqhead4">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq4" aria-expanded="true" aria-controls="faq4">
                        4. What if a candidate missed to attend the practical and theory?
                        </a>
                      </div>

                      <div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
                          <div class="card-body">
                            The student needs to pay 10% for the Theory and 20% for the Practical session. The course fees (per day x 10%).
                          </div>
                      </div>
                  </div>
                  
                  <!--5-->
                  <div class="card">
                    <div class="card-header" id="faqhead5">
                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq5" aria-expanded="true" aria-controls="faq5">
                      5. Are CMCs Advance course certificates accepted in other countries? Specifically Singapore?
                      </a>
                    </div>

                    <div id="faq5" class="collapse" aria-labelledby="faqhead5" data-parent="#faq">
                        <div class="card-body">
                          Most of the Administrations accept the certificates including Singapore which could be cross verified with MPA (Maritime Port Authority) Singapore and if it is for UK then MCA.
                        </div>
                    </div>
                  </div>

                
                  <!--6-->
                  <div class="card">
                    <div class="card-header" id="faqhead6">
                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq6" aria-expanded="true" aria-controls="faq6">
                      6. Candidate is resident of Sri Lanka OR any Foreign National, whether he can take a course?
                      </a>
                    </div>

                    <div id="faq6" class="collapse" aria-labelledby="faqhead6" data-parent="#faq">
                        <div class="card-body">
                          On student visa he can do a course.
                        </div>
                    </div>
                  </div>
                  <!--7-->
                  <div class="card">
                      <div class="card-header" id="faqhead7">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq7" aria-expanded="true" aria-controls="faq7">
                        7. What are the eligibility criteria to do STCW course?
                        </a>
                      </div>

                      <div id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq">
                          <div class="card-body">
                            They should have at least appeared for their 10th STD exam and should be able to read and write ENGLISH language and should be holding a passport.
                          </div>
                      </div>
                  </div>
                  <!--8-->
                  <div class="card">
                      <div class="card-header" id="faqhead8">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq8" aria-expanded="true" aria-controls="faq8">
                        8. What are the eligibility criteria to do TFC, CTF & LGTF course?
                        </a>
                      </div>

                      <div id="faq8" class="collapse" aria-labelledby="faqhead8" data-parent="#faq">
                          <div class="card-body">
                            This course is open to experienced seafarers who have not necessarily served on board an oil tanker as part of the regular complement but who have completed an appropriate approved firefighting course and an approved course on first aid.
                          </div>
                      </div>
                  </div>
                  <!--9-->
                  <div class="card">
                      <div class="card-header" id="faqhead9">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq9" aria-expanded="true" aria-controls="faq9">
                        9. What kind of role they need to play after completing TFC/CTF/LGTF course?
                        </a>
                      </div>

                      <div id="faq9" class="collapse" aria-labelledby="faqhead9" data-parent="#faq">
                          <div class="card-body">
                            Successful completion of this course should enable candidates to serve on Oil/Chemical/Gas Tankers in a capacity other than Master, Chief Engineer, Chief Officer or 2nd Engineer, and to perform specific duties and responsibilities related to those duties in connection with cargo and cargo equipment provided that they are not immediately responsible for the loading, discharging, care in transit or handling of cargo.
                          </div>
                      </div>
                  </div>
                  <!--10-->
                  <div class="card">
                      <div class="card-header" id="faqhead10">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq10" aria-expanded="true" aria-controls="faq10">
                        10. What are the eligibility criteria to do AFF course?
                        </a>
                      </div>

                      <div id="faq10" class="collapse" aria-labelledby="faqhead10" data-parent="#faq">
                          <div class="card-body">
                            Fire Prevention and Basic Fire Fighting (FPFF) course must have been completed. Key personnel who may have to control Fire Fighting operations, sea time of at least 6 months and should hold Medical fitness certificate in ILO format.
                          </div>
                      </div>
                  </div>
                  <!--11-->
                  <div class="card">
                      <div class="card-header" id="faqhead11">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq11" aria-expanded="true" aria-controls="faq11">
                        11. What are the eligibility criteria to do MFA course?
                        </a>
                      </div>

                      <div id="faq11" class="collapse" aria-labelledby="faqhead11" data-parent="#faq">
                          <div class="card-body">
                            Elementary First Aid (EFA) course must have been completed and must have 6 months sea service with approved Pre-sea Training.
                          </div>
                      </div>
                  </div>
                  <!--12-->
                  <div class="card">
                      <div class="card-header" id="faqhead12">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq12" aria-expanded="true" aria-controls="faq12">
                        12. What are the eligibility criteria to do PSCRB course?
                        </a>
                      </div>

                      <div id="faq12" class="collapse" aria-labelledby="faqhead12" data-parent="#faq">
                          <div class="card-body">
                            Prior experience as Officers, Cadets and Ratings having 12 months sea service (or) 6 months sea service with approved Pre-sea Training. (Proof of sea service required) or he/she should have completed the Personal Survival Techniques (PST) with the Medical fitness certificate in ILO format is needed.
                          </div>
                      </div>
                  </div>
                  <!--13-->
                  <div class="card">
                      <div class="card-header" id="faqhead13">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq13" aria-expanded="true" aria-controls="faq13">
                        13. If a student having a foreign COC and he want to do the advance course, will he be allowed to do?
                        </a>
                      </div>

                      <div id="faq13" class="collapse" aria-labelledby="faqhead13" data-parent="#faq">
                          <div class="card-body">
                            Yes. He can.
                          </div>
                      </div>
                  </div>
                  <!--14-->
                  <div class="card">
                      <div class="card-header" id="faqhead14">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq14" aria-expanded="true" aria-controls="faq14">
                        14. What is RANSCO?
                        </a>
                      </div>

                      <div id="faq14" class="collapse" aria-labelledby="faqhead14" data-parent="#faq">
                          <div class="card-body">
                            Certificate of Competency issued under Reg. II/1 or II/1 (NCV) of the STCW 95 and should also hold Radar Observation Simulator Course Certificate and ARPA Course Certificate.
                          </div>
                      </div>
                  </div>
                  <!--15-->
                  <div class="card">
                      <div class="card-header" id="faqhead15">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq15" aria-expanded="true" aria-controls="faq15">
                        15. What is ARPA?
                        </a>
                      </div>

                      <div id="faq15" class="collapse" aria-labelledby="faqhead15" data-parent="#faq">
                          <div class="card-body">
                            Marine radar with automatic radar plotting aid (ARPA) capability can create tracks using radar contacts. The system can calculate the tracked object's course, speed and closest point of approach (CPA), thereby knowing if there is a danger of collision with the other ship or landmass.
                          </div>
                      </div>
                  </div>
                  <!--16-->
                  <div class="card">
                      <div class="card-header" id="faqhead16">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq16" aria-expanded="true" aria-controls="faq16">
                        16. What is the eligibility factor to do ARPA?
                        </a>
                      </div>

                      <div id="faq16" class="collapse" aria-labelledby="faqhead16" data-parent="#faq">
                          <div class="card-body">
                            All Officers holding Radar Observer Course (ROC) are eligible for ARPA.
                          </div>
                      </div>
                  </div>
                  <!--17-->
                  <div class="card">
                      <div class="card-header" id="faqhead17">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq17" aria-expanded="true" aria-controls="faq17">
                        17. ROC and ARPA can be done separately?
                        </a>
                      </div>

                      <div id="faq17" class="collapse" aria-labelledby="faqhead17" data-parent="#faq">
                          <div class="card-body">
                            No, it has to be done in continuity first ROC and then ARPA and in continues dates.
                          </div>
                      </div>
                  </div>
                  <!--18-->
                  <div class="card">
                      <div class="card-header" id="faqhead18">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq18" aria-expanded="true" aria-controls="faq18">
                        18. For Class IV exam whether a candidate has to do ERS or ERSM Course?
                        </a>
                      </div>

                      <div id="faq18" class="collapse" aria-labelledby="faqhead18" data-parent="#faq">
                          <div class="card-body">
                            Class IV exams has to do only ERS Course.
                          </div>
                      </div>
                  </div>
                  <!--19-->
                  <div class="card">
                      <div class="card-header" id="faqhead19">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq19" aria-expanded="true" aria-controls="faq19">
                        19. What if a student doesn't have watch keeping certificate for revalidation and he want to do the course?
                        </a>
                      </div>

                      <div id="faq19" class="collapse" aria-labelledby="faqhead19" data-parent="#faq">
                          <div class="card-body">
                            If a student don't have watch keeping certificate for revalidation course, than he has to get it from the company, he worked for Company letter mentioning his experience on watch keeping.
                          </div>
                      </div>
                  </div>
                  <!--20-->
                  <div class="card">
                      <div class="card-header" id="faqhead20">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq20" aria-expanded="true" aria-controls="faq20">
                          20.  When is appropriate time to do the revalidation?
                        </a>
                      </div>

                      <div id="faq20" class="collapse" aria-labelledby="faqhead20" data-parent="#faq">
                          <div class="card-body">
                            Revalidation course can be done before or after the expiry of the COC (maximum time after expiry is 6 months).
                          </div>
                      </div>
                  </div>
                  <!--21-->
                  <!--
                  <div class="card">
                      <div class="card-header" id="faqhead21">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq21" aria-expanded="true" aria-controls="faq21">
                        
                        </a>
                      </div>

                      <div id="faq21" class="collapse" aria-labelledby="faqhead21" data-parent="#faq">
                          <div class="card-body">

                          </div>
                      </div>
                  </div>
                -->
                  
                  
                  
                  
                  
                  
                
                

              </div>
                
            </div>
            <div class="tabb" id="news">
                <h2>News & Events</h2>
                <ul class="list-unstyled">
                    <li><i class="fas fa-angle-right mr-3"></i>High voltage & Switch Gear Course Management Level new batches starts on Every Monday.</li>
                    <li><i class="fas fa-angle-right mr-3"></i>High voltage & Switch Gear Course Operational Level New batches starts on Every Monday.</li>
                    <li><i class="fas fa-angle-right mr-3"></i>Attractive package courses, <a class="click-here" href="">click here.</a></li>
                    <li><i class="fas fa-angle-right mr-3"></i>For admission or enquiries, contact Telephone: +91 44 42691188 / 42651199 / 26431188 / 26431199.
                        Mobile: +91 98436 55985.</li>                  
                </ul>
            </div>
        </div>

      </div>
    </section><!-- End Academic Section -->

  </main><!-- End #main -->

  <section class="footer-wave">
    <img src="/img/ship_footer.png" class="ship" alt="">
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
  </section>
  <!-- ======== Footer =========== -->
  <section id="footer">
    <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>CMC Maritime Academy</h3>
                <p>
                  The Taj, New No. 70, Old No. 29,<br>
                  Block 'C', 3rd Floor,<br>
                  Ritherdon Road, Vepery,<br>
                  Chennai - 600 007. Tamil Nadu.<br><br>
                </p>
                  <a href="tel:+919843655985" class="ph"><strong><img src="/img/icon/phone-alt-solid.svg" height="14px" alt=""> </strong> <span>+91 98436 55985</span></a>
                  <p class="ph my-2"><strong><img src="/img/icon/whatsapp-brands.svg" height="16px" alt=""> </strong> <span>+91 9843655985</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>+91 9445031188</span></p>
                  <a class="ph" href="mailto:admission@cmcacademy.ac.in"><strong><img src="/img/icon/envelope-solid.svg" height="14px" alt=""> </strong> admission@cmcacademy.ac.in</a>
                       
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google"></i></a>
                  <a href="https://www.facebook.com/cmcchennaiofficial" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/cmc_maritime_academy_chennai/" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/">Home</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/about">About us</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/">Login</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/testimonials">Testimonials</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Academic</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Infrastructure</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/team">Faculties</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Rules and Regulations</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">FAQ</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Courses</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Basic Modular Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Advanded Modular Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Refresher Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Simulator Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Preparatory Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Packages</a></li>
              </ul>
            </div>
            
  
          </div>
        </div>
      </div>
    
  </section>

  <a href="#" class="back-to-top">
    <!--<i class="icofont-simple-up"></i>-->
    <img src="/img/steer.png" alt="">
  </a>

    <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>  
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>


  <!-- Template Main JS File -->
  <script src="/js/testimonial.js"></script>
  <script src="/js/text-testimonial.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/strip_carousel.js"></script>
  <script src="/js/faculty.js"></script>
  <!--For Academic page-->
  <script src="/js/academic_gal.js"></script>

</body>

</html>