<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Dashboard - Profile</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/logo/cmc_logo.png" rel="icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="/vendor/waves/css/waves.min.css" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="/vendor/themify-icons/themify-icons.css">
    <!-- font-awesome-n -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">    
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="/vendor/jquery.mCustomScrollbar.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/dashstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dash_extra.css">
</head>
<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <!--Header-->       
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a href="dash.html" class="header-logo">
                            <img class="img-fluid logo" src="/img/logo/cmc_logo.png" alt="Theme-Logo" /> CMC Maritime Academy
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="d-none d-md-inline-block">                                
                                <a href="#" class="waves-effect waves-light">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="d-none d-md-inline-block">                                
                                <a href="#" class="waves-effect waves-light">
                                    <span>Courses</span>
                                </a>
                            </li>
                            <li class="d-none d-md-inline-block">                                
                                <a href="#" class="waves-effect waves-light">
                                    <span>Packages</span>
                                </a>
                            </li>

                            <li class="header-notification">                                
                                <a href="#" class="waves-effect waves-light">
                                    <span>My Cart <img class="img-fluid cart-img" src="/vendor/opencart-brands.svg" alt=""></span>
                                    <span class="badge-cart">3</span>
                                </a>
                                <ul class="show-notification">
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="notification-user">TASCO</h5>
                                            </div>
                                            <a class="discard btn btn-danger text-light">Discard</a>
                                        </div>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="notification-user">TASCO</h5>
                                            </div>
                                            <a class="discard btn btn-danger text-light">Discard</a>
                                        </div>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="notification-user">TASCO</h5>
                                            </div>
                                            <a class="discard btn btn-danger text-light">Discard</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            
                            
                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="/img/dash/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                    <span>John Doe</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="dash-mycourses.html">
                                            <i class="ti-notepad"></i> My Courses
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="dash-feedback.html">
                                            <i class="ti-comment-alt"></i> Feedback
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="dash-certificate.html">
                                            <i class="ti-file"></i> Certificate
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="dash-profile.html">
                                            <i class="ti-user"></i> View Profile
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="logout.html">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--HEader over-->

            
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!--Side nav bar-->
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-80 img-radius" src="/img/dash/avatar-4.jpg" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span id="more-details">John Doe<i class="fa fa-caret-down"></i></span>
                                    </div>
                                    <span style="margin-right: 20px;color:rgb(220, 236, 250)">88EL8888</span>
                                </div>
                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="dash-mycourses.html"><i class="ti-notepad"></i>My Courses</a>
                                            <a href="dash-feedback.html"><i class="ti-comment-alt"></i>Feedback</a>
                                            <a href="dash-certificate.html"><i class="ti-comment-alt"></i>Certificate</a>
                                            <a href="dash-profile.html"><i class="ti-user"></i>View Profile</a>
                                            <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-15"></div>
                            <div class="pcoded-navigation-label">Profile</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a href="dash-profile.html" class="waves-effect waves-dark">
                                        <span class="pcoded-mtext">Edit Profile</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="change_password.html" class="waves-effect waves-dark">
                                        <span class="pcoded-mtext">Change Password</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!--side nav bar over-->
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Profile</h5>
                                            <p>Change Password</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="dash.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="dash-profile.html">profile</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <!--MAIN CONTENT PROFILE  CONTENT-->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="card p-5">
                                            <form action="#">
                                                <div class="row container">
                                                    <!--Old password-->
                                                    <div class="col-4 mb-2 d-flex align-items-center justify-content-end">
                                                        <label for="" class="font-weight-bold">Old Password</label>
                                                    </div>
                                                    <div class="col-8 mb-2">
                                                        <input id="oldPassword" type="text" name="oldPassword" placeholder="Old Password" class="form-control bg-white border-md">
                                                    </div>
                                                    <!--New password-->
                                                    <div class="col-4 mb-2 d-flex align-items-center justify-content-end">
                                                        <label for="" class="font-weight-bold">New Password</label>
                                                    </div>
                                                    <div class="col-8 mb-2">
                                                        <input id="newPassword1" type="text" name="newPassword1" placeholder="New Password" class="form-control bg-white border-md">
                                                    </div>
                                                    <!--Confirm password-->
                                                    <div class="col-4 mb-2 d-flex align-items-center justify-content-end">
                                                        <label for="" class="font-weight-bold">Confirm Password</label>
                                                    </div>
                                                    <div class="col-8 mb-2">
                                                        <input id="newPassword2" type="text" name="newPassword1" placeholder="Confirm Password" class="form-control bg-white border-md">
                                                    </div>
                                                    <!--SUBMIT BUTTON-->
                                                    <div class="form-group col-md-6 col-12 mx-auto mt-4 btn-title">
                                                        <a href="#" class="btn-update btn-block py-2">
                                                            <span class="font-weight-bold">Update Profile</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Required Jquery -->
<script type="text/javascript" src="/vendor/jquery/jquery.min.js "></script>
<script type="text/javascript" src="/vendor/jquery-ui.min.js "></script>
<script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- waves js -->
<script src="/vendor/waves/js/waves.min.js"></script>
 <!-- jquery slimscroll js -->
 <script type="text/javascript" src="/vendor/jquery.slimscroll.js"></script>
 <script type="text/javascript" src="/vendor/jquery.quicksearch.js"></script>


  <!-- menu js -->
  <script src="/js/pcoded.min.js"></script>
  <script src="/vendor/vertical-layout.min.js "></script>

  <script type="text/javascript" src="/js/script.js "></script>
  <script src="/js/dash.js"></script>
  <script>
    $(".btn-title").hover(function(){
        $(this).toggleClass("is-active");
    });
    document.getElementById('buttonid').addEventListener('click', openDialog);
    function openDialog() {
        document.getElementById('fileid').click();
    }
  </script>
</body>
</html>