<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CMC - Contact</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo/cmc_logo.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="/css/mainstyle.css" rel="stylesheet">
  <link href="/css/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/testimonial.css">
  <link rel="stylesheet" href="/css/strip_carousel.css">
  <link rel="stylesheet" href="/css/faculty.css">
  <!--For About Page inlcude-->
  <link rel="stylesheet" href="/css/team.css">
  <!--For Signup page include-->
  <link rel="stylesheet" href="/css/signup.css">

</head>

<body>

  <!--HEADER MAIN-->
  <header id="header" class="fixed-top ">
    <div id="sm-header">
      <nav class="thin-head navbar navbar-expand-lg d-none d-lg-flex">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link py-1" href="/ebrochure.pdf" target="_blank">Download e-Brochure</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto socialmedia">
          <li class="nav-item">
            <a class="py-1" href="#"><i class="bx bxl-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="py-1" href="#"><i class="bx bxl-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="py-1" href="#"><i class="bx bxl-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="py-1" href="#"><i class="bx bxl-youtube"></i></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container-fluid d-flex align-items-center my-2">

      <h1 class="logo">
        <a href="/home">
          <div class="d-flex align-items-center">
            <img src="/img/logo/logo-img.png" alt="" class="img-fluid mr-2">
            <div class="d-flex flex-column">
              <span class="d-inline-block d-lg-none">CMC</span>
              <span class="d-none d-lg-inline-block">CMC Maritime Academy</span>
              <span class="location">Chennai</span>
            </div>
          </div>
        </a>
      </h1>
      <nav class="nav-menu d-none d-lg-block ml-auto">

        <ul>
          <li><a href="/home">Home</a></li>

          <li class="drop-down"><a href="#">About</a>
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/team">Faculty</a></li>
              <li><a href="/testimonials">Testimonials</a></li>
            </ul>
          </li>

          <li class="drop-down"><a href="#">Courses</a>
            <ul>
              <li><a href="/dashboard" target="_blank">Basic Modular Courses</a></li>
              <li><a href="/dashboard" target="_blank">Advanced Modular Courses</a></li>
              <li><a href="/dashboard" target="_blank">Preparatory Courses</a></li>
              <li><a href="/dashboard" target="_blank">Refresher Courses</a></li>
              <li><a href="/dashboard" target="_blank">Simulator Courses</a></li>
              <li><a href="/dashboard" target="_blank">Package</a></li>
            </ul>
          </li>

          <li><a href="/academic">Academic</a></li>
          <li><a href="/" target="_blank">Login</a></li>
          <li class="active"><a href="/contact">Contact</a></li>
          <li><a href="/testimonials">Testimonials</a></li>

        </ul>

      </nav><!-- .nav-menu -->

      <a href="/dashboard" class="get-started-btn ml-auto ml-lg-4">Book Now</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div>
          <iframe style="border:0; width: 100%; height: 270px;"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15545.157280680814!2d80.2583248!3d13.0808414!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe30829c6a8a29ba9!2sCMC%20Maritime%20Academy%2C!5e0!3m2!1sen!2sin!4v1615826763056!5m2!1sen!2sin"
            frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="fas fa-map-marker-alt"></i>
                <h4>Location:</h4>
                <p>The Taj, New No. 70, Old No. 29,<br>Block 'C', 3rd Floor,<br>Ritherdon Rd,
                  Vepery,<br>Chennai-600007,<br>Tamil Nadu.</p>
              </div>

              <div class="email">
                <a href="mailto:admission@cmcacademy.ac.in">
                  <i class="fas fa-envelope"></i>
                  <h4>Email:</h4>
                  <p>admission@cmcacademy.ac.in</p>
                </a>
              </div>

              <div class="phone">
                <a href="tel:+919843655985">
                  <i class="fas fa-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 98436 55985</p>
                </a>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="7" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <section class="footer-wave">
    <img src="/img/ship_footer.png" class="ship" alt="">
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
  </section>
  <!-- ======== Footer =========== -->
  <section id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>CMC Maritime Academy</h3>
              <p>
                The Taj, New No. 70, Old No. 29,<br>
                Block 'C', 3rd Floor,<br>
                Ritherdon Road, Vepery,<br>
                Chennai - 600 007. Tamil Nadu.<br><br>
              </p>
              <a href="tel:+919843655985" class="ph"><strong><img src="/img/icon/phone-alt-solid.svg" height="14px"
                    alt=""> </strong> <span>+91 98436 55985</span></a>
              <p class="ph my-2"><strong><img src="/img/icon/whatsapp-brands.svg" height="16px" alt=""> </strong>
                <span>+91 9843655985</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>+91 9445031188</span></p>
              <a class="ph" href="mailto:admission@cmcacademy.ac.in"><strong><img src="/img/icon/envelope-solid.svg"
                    height="14px" alt=""> </strong> admission@cmcacademy.ac.in</a>

              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google"></i></a>
                <a href="https://www.facebook.com/cmcchennaiofficial" class="facebook"><i
                    class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/cmc_maritime_academy_chennai/" class="instagram"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured" class="youtube"><i
                    class="fa fa-youtube" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/home">Home</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/about">About us</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/">Login</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/testimonials">Testimonials</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Academic</h4>
            <ul>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Infrastructure</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/team">Faculties</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Rules and Regulations</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">FAQ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Courses</h4>
            <ul>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Basic Modular Courses</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Advanded Modular Courses</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Refresher Courses</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Simulator Courses</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Preparatory Courses</a></li>
              <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Packages</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

  </section>

  <a href="#" class="back-to-top">
    <!--<i class="icofont-simple-up"></i>-->
    <img src="/img/steer.png" alt="">
  </a>

  <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>


  <!-- Template Main JS File -->
  <script src="/js/testimonial.js"></script>
  <script src="/js/text-testimonial.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/strip_carousel.js"></script>
  <script src="/js/faculty.js"></script>
  <!--For Academic page-->
  <script src="/js/academic_gal.js"></script>

</body>

</html>