<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CMC - Faculty</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo/cmc_logo.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="/css/mainstyle.css" rel="stylesheet">
  <link href="/css/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/testimonial.css">
  <link rel="stylesheet" href="/css/strip_carousel.css">
  <link rel="stylesheet" href="/css/faculty.css">
  <!--For About Page inlcude-->
  <link rel="stylesheet" href="/css/team.css">
  <!--For Signup page include-->
  <link rel="stylesheet" href="/css/signup.css">

</head>

<body>

  <!--HEADER MAIN-->
  <%- include('partial/header'); %>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Faculty</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Faculty</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="team">
      <div class="container-team">
        <div class="row">
          <!--9-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>Mr.Vishwasmehendale</h3>
                <span class="font-weight-bold">Chief Engineer</span>
                <p class="m-0">Have sailed as a Marine Engineer from 1985 to 2010, out of which 16 yrs as Chief Engineer on Oil Tankers & Bulk Carriers. Have been teaching full time since 2010 at a Maritime Institute for Pre Sea Courses. Since Dec 2020, a faculty in CMC Chennai.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          <!--2-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>R.Gurumurthy</h3>
                <span class="font-weight-bold">Chief Engineer</span>
                <p class="m-0">Have sailed as a Marine Engineer from 1985 to 2010, out of which 16 yrs as Chief Engineer on Oil Tankers & Bulk Carriers. Have been teaching full time since 2010 at a Maritime Institute for Pre Sea Courses. Since Dec 2020, a faculty in CMC Chennai.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          <!--3-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>S. Venugopal</h3>
                <span class="font-weight-bold">Chief Engineer</span>
                <p class="m-0">32 years Sailing experience, out of that 24 years as Chief Engineer on board ships of Bulk carriers, Container vessels , Reefer ships and Tankers. Teaching experience 11 years at Pre sea and Post sea courses.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          <!--5-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>Capt.R.G.Bamboat</h3>
                <span class="font-weight-bold">Master</span>
                <p class="m-0">Completed Pre-sea training in T S Jawahar in Sep 1997. Joined sea in Jan 1998. Completed Masters FG COC in 2006.
                  Taught in Commander Ali's Academy of Merchant Navy Studies (CAAMNS) Hyderabad, in 2008. External examiner also in same year. Taught as permanent faculty in CMC Maritime Academy Chennai from Aug 2016 to May 2017. Teaching in CMC Chennai Online classes since Oct 2020.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          <!--4-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>K.S.Thyagarajan</h3>
                <span class="font-weight-bold">Chief Engineer</span>
                <p class="m-0">25 years Sailing experience of which, served as Chief Engineer for 14 years.
                  During my leaves in 2017, I was visiting Faculty at SAMS MARINE College for 1 complete semester.
                  I was visiting faculty at CMC in 2014. Since Nov 2020 as visiting faculty in CMC.</p>
                </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          <!--6-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>MrA.M.Ramakrishnan</h3>
                <span class="font-weight-bold">Second Engineer</span>
                <p class="m-0">Graduated in Mechanical Engineering In 1986 from CIT, Coimbatore.
                  More than 2 decades sailed on many vessels and mainly on Oil & Chemical Tankers.
                  Presently as a C/E in a Passengership. 
                  4.5 years of Teaching Experience. 
                  Course coordinator for value added courses like Pumpman course & Trainee Fitter Course in CMCMA.
                  Fellow Member in Institute of Marine Engineers India.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          <!--7-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>Capt.Namrata Singh</h3>
                <span class="font-weight-bold">Master</span>
                <p class="m-0">Sailed with The SCI Ltd
                  Sailed on oil tanker, product tanker, container ship, research vessel, bulk carrier and passenger ship.
                  Joined sea in 2003.Last sailed on 2017.
                  Joined CMC in March 2021 as faculty.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          <!--8-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>Capt. P. N. Kalyanasundaram</h3>
                <span class="font-weight-bold">Master</span>
                <p class="m-0">1975-1976 Rajendra batch, sailing on board mostly oil tankers ever since, staying ashore for the last one year and teaching at CMC since Feb 2021.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          <!--1-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>Mr. Amborse Browin Poobalarayer</h3>
                <span class="font-weight-bold">X Bosun</span>
                <p class="m-0">Sailing experience 14 years, 6 years in ETA Shipping, 8 years in Anglo Eastern Shipping ltd and working as Instructor in CMC Maritime Academy Chennai for 2 years</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          <!--10-->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>Capt.C. Vijayakumar</h3>
                <span class="font-weight-bold">Master</span>
                <p class="m-0">I have a Diploma in Nautical Science and had been sailing on Oil/Chemical tankers and parcel tankers. I used to teach pre-sea students and also had a stint as Quality Superintendent in a ship management company before joining CMC as faculty.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
          
          

        </div>
      </div>
    </section>
    

  </main><!-- End #main -->

  <section class="footer-wave team-footer">
    <img src="/img/ship_footer.png" class="ship" alt="">
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
  </section>
  <!-- ======== Footer =========== -->
  <section id="footer">
    <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>CMC Maritime Academy</h3>
                <p>
                  The Taj, New No. 70, Old No. 29,<br>
                  Block 'C', 3rd Floor,<br>
                  Ritherdon Road, Vepery,<br>
                  Chennai - 600 007. Tamil Nadu.<br><br>
                </p>
                  <a href="tel:+919843655985" class="ph"><strong><img src="/img/icon/phone-alt-solid.svg" height="14px" alt=""> </strong> <span>+91 98436 55985</span></a>
                  <p class="ph my-2"><strong><img src="/img/icon/whatsapp-brands.svg" height="16px" alt=""> </strong> <span>+91 9843655985</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>+91 9445031188</span></p>
                  <a class="ph" href="mailto:admission@cmcacademy.ac.in"><strong><img src="/img/icon/envelope-solid.svg" height="14px" alt=""> </strong> admission@cmcacademy.ac.in</a>
                       
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google"></i></a>
                  <a href="https://www.facebook.com/cmcchennaiofficial" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/cmc_maritime_academy_chennai/" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/">Home</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/about">About us</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/">Login</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/testimonials">Testimonials</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Academic</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Infrastructure</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/team">Faculties</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Rules and Regulations</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">FAQ</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Courses</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Basic Modular Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Advanded Modular Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Refresher Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Simulator Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Preparatory Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Packages</a></li>
              </ul>
            </div>
            
  
          </div>
        </div>
      </div>
    
  </section>

  <a href="#" class="back-to-top">
    <!--<i class="icofont-simple-up"></i>-->
    <img src="/img/steer.png" alt="">
  </a>

    <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>  
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>


  <!-- Template Main JS File -->
  <script src="/js/testimonial.js"></script>
  <script src="/js/text-testimonial.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/strip_carousel.js"></script>
  <script src="/js/faculty.js"></script>
  <!--For Academic page-->
  <script src="/js/academic_gal.js"></script>

</body>

</html>