<header id="header" class="fixed-top ">
  <div id="sm-header">
    <nav class="thin-head navbar navbar-expand-lg d-none d-lg-flex">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link py-1" href="/ebrochure.pdf">Download e-Brochure</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto socialmedia">
        <li class="nav-item">
          <a class="py-1" href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="py-1" href="https://www.facebook.com/cmcchennaiofficial"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="py-1" href="https://www.instagram.com/cmc_maritime_academy_chennai/"><i
              class="fa fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="py-1" href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured"><i
              class="fa fa-youtube"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container-fluid d-flex align-items-center my-2">

    <h1 class="logo">
      <a href="/">
        <div class="d-flex align-items-center">
          <img src="/img/logo/logo-img.png" alt="" class="img-fluid mr-2">
          <div class="d-flex flex-column">
            <span class="d-inline-block d-lg-none">CMC</span>
            <span class="d-none d-lg-inline-block">CMC Maritime Academy</span>
            <span class="location">Chennai</span>
          </div>
        </div>
      </a>
    </h1>
    <nav class="nav-menu d-none d-lg-block ml-auto">

      <ul>
        <li <% if (page_name==='home' ) { %>class="active" <% } %> ><a href="/">Home</a></li>

        <li class="drop-down"><a href="#">About</a>
          <ul>
            <li <% if (page_name==='about' ) { %>class="active" <% } %> ><a href="/about">About Us</a></li>
            <li <% if (page_name==='team' ) { %>class="active" <% } %> ><a href="/team">Faculty</a></li>
            <li <% if (page_name==='testimonials' ) { %>class="active" <% } %> ><a href="/testimonials">Testimonials</a>
            </li>
          </ul>
        </li>
        <li><a href="/dashboard">Courses</a></li>
        <!-- <li class="drop-down"><a href="#">Courses</a>
          <ul>
            <li><a href="/dashboard" >Basic Modular Courses</a></li>
            <li><a href="/dashboard" >Advanced Modular Courses</a></li>
            <li><a href="/dashboard" >Preparatory Courses</a></li>
            <li><a href="/dashboard" >Refresher Courses</a></li>
            <li><a href="/dashboard" >Simulator Courses</a></li>
            <li><a href="/dashboard" >Package</a></li>
          </ul>
        </li> -->

        <li <% if (page_name==='academic' ) { %>class="active" <% } %> ><a href="/academic">Academic</a></li>
        <li <% if (page_name==='contact' ) { %>class="active" <% } %> ><a href="/contact">Contact</a></li>
        <li <% if (page_name==='testimonials' ) { %>class="active" <% } %> ><a href="/testimonials">Testimonials</a>
        </li>
        <!-- <li><a href="/login" id="login">Login/Signup</a></li> -->
      </ul>

    </nav><!-- .nav-menu -->

    <a href="#" id="bookbtn" class="get-started-btn ml-auto ml-lg-4" onclick="booknowbtn()">Book Now</a>

  </div>
</header>
<script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
<script src="/js/custom/firebase.js"></script>
<script>
  var userid = sessionStorage.getItem("userid")
  console.log(userid)
  function booknowbtn() {
    if (userid == null) {
      toastr["error"]("Please Login...")
      console.log("if")
      setTimeout(() => {
        window.location.replace("/login")
      })
    } else {
      console.log("else")
      window.location.replace("/dashboard")
    }
  }

  // if (userid == null) {
  //   document.getElementById("bookbtn").style.display = "none"
  // } else {
  //   var db = firebase.firestore()
  //   db.collection("users").doc(userid).get().then((doc) => {
  //     if (doc.data() == undefined) {
  //       sessionStorage.removeItem("userid")
  //       window.location.replace("/login")
  //     }
  //   })
  //   document.getElementById("login").style.display = "none"

  // }

</script>