<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>CMC - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo/cmc_logo.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="/css/mainstyle.css" rel="stylesheet">
  <link href="/css/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/testimonial.css">
  <link rel="stylesheet" href="/css/strip_carousel.css">
  <link rel="stylesheet" href="/css/faculty.css">
  <!--For About Page inlcude-->
  <link rel="stylesheet" href="/css/team.css">
  <!--For Signup page include-->
  <link rel="stylesheet" href="/css/signup.css">

  <link rel="stylesheet" href="/js/log/vendor/toaster/toaster/build/toastr.css">
  <script src="/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
  <script src="/js/log/toaster.js"></script>
</head>
<style>
  .searchcourses {
    position: absolute;
    background-color: white;
    margin-left: 235px;
    border-radius: 2px;
    overflow: auto;
    /* height: 187px; */
    overflow-y: overlay;
    display: none;
    text-align: initial;
  }

  @media screen and (max-width:600px) {
    .searchcourses {
      margin-left: 0px !important;
    }
  }

  .searchitem:hover {
    background-color: #dcdcdc7a;
  }

  .courseimgdiv{
    height: 200px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
</style>

<body>
  <!--HEADER ABOVE BAR SECTION-->


  <!--HEADER MAIN-->
  <%- include('partial/header'); %>

    <!-- End Header -->



    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(/img/ship.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Search Courses</h2>


                <div class="search-form animate__animated animate__fadeInUp scrollto">
                  <div class="btn-group">
                    <input class="form-control rounded-left" style="border-radius: 0;" type="search"
                      placeholder="Search" aria-label="Search" id="findcourse">
                    <!-- <button class="btn btn-darkblue" type="submit">Search</button> -->
                  </div>
                  <div class="searchcourses" id="searchcourses">
                  </div>
                </div>

                <div class="approval">
                  <p class="animate__animated animate__fadeInUp">Approved By</p>
                  <p class="animate__animated animate__fadeInUp">D.G. Shipping Govt of India</p>
                  <h4 class="animate__animated animate__fadeInUp">ISO 9001:2015 Certified Institute</h4>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Hero -->


    <!-- ======= Announcement ======== -->
    <section id="announcement" class="p-0">
      <div class="d-flex container p-2 align-items-center">
        <span class="mr-4">Announcement</span>
        <marquee behavior="scroll" direction="left">
          For admission or enquiries, contact Telephone: +91 44 42691188 / 42651199 / 26431188 / 26431199. Mobile: +91
          98436 55985. Whatsapp: 98436 55985.
        </marquee>
      </div>
    </section>



    <!-- ======= Course Section ======= -->
    <section id="course" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Courses and Packages</h2>
          <p>Courses</p>
        </div>

        <!-- <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" id="All" onclick="coursefilter(this)" class="filter-active">All</li>
              <li data-filter=".basic" id="Basic" onclick="coursefilter(this)">Basic</li>
              <li data-filter=".advance" id="Advance" onclick="coursefilter(this)">Advanced</li>
              <li data-filter=".advance" id="Packages" onclick="coursefilter(this)">Packages</li>
            </ul>
          </div>
        </div> -->

        <div class="row portfolio-container" id="courses" >



        </div>

      </div>
    </section>
    
    <!-- End Portfolio Section -->


    <!-- ======= Login Banner ========== -->
    <section id="banner" class="login-banner" style="margin-top: 200px;">
      <div class="layer"></div>
      <div class="row">
        <div class="col-lg">
          <h1 class="text-light text-center">Ready to get started ?</h1>
        </div>
        <div class="col-lg d-flex align-items-center justify-content-center">
          <a href="/signup" class="btn btn-banner btn-large py-2">Sign Up Now</a>
        </div>
      </div>
    </section><!-- =====End Login===== -->



    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>About</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6">
            <h2>CMC Maritime Academy</h2>
            <h3 style="color: #3586ff;">Mission</h3>
            <ul>
              <li><i class="fas fa-anchor"></i> To provide goal-oriented, quality-based and value added education
                through
                state-of-the-art technology at par with International Standards</li>
              <li><i class="fas fa-anchor"></i> To prepare the students with high professional skills and ethical values
              </li>
              <li><i class="fas fa-anchor"></i> To impart knowledge through best practices</li>
              <li><i class="fas fa-anchor"></i> To undertake continuous assessment and remedial measures</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              CMC Maritime Academy is situated in the Heart of the City, Vepery, Chennai. Established in 2012 and
              approved
              by Directorate General of Shipping, Govt. of India, we offer the best post-sea courses for seafarers
              keeping
              pace with the rapid evolution of shipping industry, technological advances to produce seaman with
              specialized and upgraded skills.
            </p>
            <p>Our objective is to impart our student's community with knowledge and skills along with marine culture by
              way of</p>
            <ul>
              <li><i class="fas fa-anchor"></i> Professionalism</li>
              <li><i class="fas fa-anchor"></i> Communication skills</li>
              <li><i class="fas fa-anchor"></i> Officer Like Quality skills - using modern teaching methodology</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ===== Testimonial Video Slider ======= -->
    <div class="wrapper noselect">
      <div class="strip-carousel strip-bg" id="mostviewed">
        <div class="arrow-left">&lsaquo;</div>
        <div class="arrow-right">&rsaquo;</div>

        <div class="frames" id="galleryframes">
        </div>
      </div>
    </div>


    <!-- ======= Testimonials Text Section ======= -->
    <!-- <section id="testimonials" class="testimonials">
      <div class="container">
        <div class="section-title">
          <h2>Feedback & Testimonials</h2>
          <p>Testionials</p>
        </div>
        <div class="row" id="testimonialview">

          <div class="testi-carousel owl-carousel">
            <div class="item">
            <div class="testimonial-item">
              <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>


          </div>

        </div>

      </div>
    </section> -->


    <!-- ======= Faculty ========= -->
    <section class="faculty p-0">
      <div class="faculty-inner">
        <div class="container">
          <div class="section-title">
            <h2 class="text-dark">Our Team</h2>
            <p class="text-light">Faculty</p>
          </div>
        </div>
        <div class="card-carousel">

        </div>
    </section>


    <!--
    <section class="shipsection m-0 p-0">
      <img src="/img/ship_footer.png" class="ship" alt="">
    </section>
  -->
    <section class="footer-wave team-footer">
      <img src="/img/ship_footer.png" class="ship" alt="">
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
    </section>
    <!-- ======== Footer =========== -->
    <section id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>CMC Maritime Academy</h3>
                <p>
                  The Taj, New No. 70, Old No. 29,<br>
                  Block 'C', 3rd Floor,<br>
                  Ritherdon Road, Vepery,<br>
                  Chennai - 600 007. Tamil Nadu.<br><br>
                </p>
                <a href="tel:+919843655985" class="ph"><strong><img src="/img/icon/phone-alt-solid.svg" height="14px"
                      alt=""> </strong> <span>+91 98436 55985</span></a>
                <p class="ph my-2"><strong><img src="/img/icon/whatsapp-brands.svg" height="16px" alt=""> </strong>
                  <span>+91 9843655985</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>+91 9445031188</span>
                </p>
                <a class="ph" href="mailto:admission@cmcacademy.ac.in"><strong><img src="/img/icon/envelope-solid.svg"
                      height="14px" alt=""> </strong> admission@cmcacademy.ac.in</a>

                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google"></i></a>
                  <a href="https://www.facebook.com/cmcchennaiofficial" class="facebook"><i
                      class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/cmc_maritime_academy_chennai/" class="instagram"><i
                      class="fa fa-instagram"></i></a>
                  <a href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured" class="youtube"><i
                      class="fa fa-youtube" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/">Home</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/about">About us</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/login">Login</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/testimonials">Testimonials</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Academic</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a  href="/academic">Infrastructure</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/team">Faculties</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Rules and Regulations</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">FAQ</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Courses</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1" ></i> <a href="/dashboard">Basic Modular Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Advanded Modular Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Refresher Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Simulator Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Preparatory Courses</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Packages</a></li>
              </ul>
            </div>


          </div>
        </div>
      </div>

    </section>

    <a href="#" class="back-to-top">
      <!--<i class="icofont-simple-up"></i>-->
      <img src="/img/steer.png" alt="">
    </a>


    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>


    <!-- Template Main JS File -->
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
    <script src="/js/custom/firebase.js"></script>
    <script src="/js/testimonial.js"></script>
    <script src="/js/text-testimonial.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/strip_carousel.js"></script>
    <script src="/js/faculty.js"></script>
    <!--For Academic page-->
    <script src="/js/academic_gal.js"></script>

    <script src="/js/custom/course.js"></script>
    <!-- <script src="/js/custom/feedbackview.js"></script> -->
</body>
<script>
  sessionStorage.removeItem("type")
</script>
<script>

</script>

</html>