<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href="/home"><img src="assets/images/ctplogo.jpeg" width="50" alt="Aero"><span class="m-l-10"></span></a>
        <div class="detail">
            <small>Commercial<br> Trading Point</small>
        </div>
    </div>
    <div class="menu" style="height: 597px;
    overflow-y: scroll;">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href="/home"><img src="assets/images/cmc_logo.png" alt="User"></a>
                    <div class="detail">
                        <h4>CMC</h4>
                        <small>Admin Panel</small>
                    </div>
                </div>
            </li>
            <li><a href="/home"><i class="zmdi zmdi-view-dashboard"></i><span>Dashboard</span></a></li>
            <li><a href="/category"><i class="zmdi zmdi-file"></i><span>Category</span></a></li>
            <li><a href="/faculty"><i class="zmdi zmdi-account"></i><span>Faculty</span></a></li>
            <!-- <li><a href="/subcourse"><i class="zmdi zmdi-file"></i><span>Create Sub Course</span></a></li> -->
            <li><a href="/users"><i class="zmdi zmdi-accounts-add"></i><span>users</span></a></li>
            <li><a href="/discount"><i class="zmdi zmdi-trending-up"></i><span>Discount</span></a></li>
            <li><a href="/purchasehistory"><i class="zmdi zmdi-money-box"></i><span>Purchase History</span></a></li>
            <li><a href="/gallery"><i class="zmdi zmdi-collection-image"></i><span>Gallery</span></a></li>
            <li><a href="/certificateupload"><i class="zmdi zmdi-file-plus"></i><span>certificateupload</span></a></li>
            <li><a href="/timetable"><i class="zmdi zmdi-file-text"></i><span>Timetable</span></a></li>
            <li><a href="/feedback"><i class="zmdi zmdi-comments"></i><span>Feedback</span></a></li>
            <li><a href="/enquiry"><i class="zmdi zmdi-comment"></i><span>Enquire</span></a></li>
        </ul>
    </div>
</aside>